.OuterContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .InnerContainer {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
