@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import url('font-awesome/css/font-awesome.min.css');

$primaryColor: #4285f4;
$bgLight: #f9f9ff;
$bgDark: #e1e3f2;
$btnHover: #2465d1;
$global-font: 'Inter', sans-serif;
